% rebase("base.html")

% form = read_form('login')

<form action="/prijava/" method="POST">
    <div class="form-container">
        <div class="field">
            <label class="label">Uporabniško ime</label>
                <input class='input' type='text' name='username' value="{{form.get('username', '')}}" />
        </div>
        <div class="field">
            <label class="label">Geslo</label>
                <input class="input" type="password" name="password" />
        </div>
        <div class="field">
            <input type="submit" value="Prijavi se" />
        </div>
    </div>
</form>