% rebase("base.html")

<form action="/nalaganje/" method="POST">
    <div class="form-container">
        <div class="field">
            <label class="label">naslov izdaje</label>
                <input class='input' type='text' name='title' placeholder='Title' />
        </div>
        <div class="field">
            <label class="label">tip</label>
                <select name="type" paceholder="album">
                    <option value="album">Album</option>
                    <option value="single">Singel</option>
                    <option value="ep">Epizoda</option>
                </select>
        </div>
        <div class="field">
            <input type="submit" value="Ustvari" />
        </div>
    </div>
</form>

% if releases:
% for rel in releases:
<div class="search-results">
    <div class="result">
        <div class="title">
            <a href="/izdaje/{{rel.id}}/">{{rel.title}}</a>
        </div>
        <div class="info">
            Tip: {{rel.type}} <br>
            Dolžina: {{rel.length // 60}} minut <br>
            <a href="/nalaganje/{{rel.id}}/">Dodaj pesem</a>
        </div>
    </div>
</div>
% end