% form = read_form('register')

% rebase("base.html")

<form action="/registracija/" method="POST">
    <div class="form-container">
        <div class="field">
            <label class="label">Uporabniško ime</label>
                <input class='input' type='text' name='username' value="{{form.get('username', '')}}" />
        </div>
        <div class="field">
            <label class="label">Geslo</label>
                <input class="input" type="password" name="password1" />
        </div>
        <div class="field">
            <label class="label">Geslo ponovno</label>
                <input class="input" type="password" name="password2" />
        </div>
        <div class="field">
            <input type="submit" value="Registriraj se" />
        </div>
    </div>
</form>