% rebase("base.html")

<form action="/nalaganje/{{r_id}}/" method="POST" enctype="multipart/form-data">
    <div class="form-container">
        <div class="field">
            <label class="label">naloži</label>
                <input type='file' name='upload'>
        </div>
        <div class="field">
            <label class="label">naslov</label>
                <input class="input" type="text" name="title">
        </div>
        <div class="field">
            <input type="submit" value="naloži" />
        </div>
    </div>
</form>   